* {
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  overflow: hidden;
}

.header-container {
  width: 100%;
  height: 70px;
  background-color: #2D89E6;
}

.header-container .header h1 {
  font-family: "Segoe UI";
  font-size: 22px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 92%;
}

form {
  padding-top: 30px;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  border: 1px solid #d1d1d1;
  border-radius: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 0px;
  width: 120%;
  height: 70%;
}

.form-container h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Segoe UI";
  font-size: 15px;
  color: #707070;
  padding-bottom: 15px;
}

.form-container input, .form-container select {
  padding: 15px;
  margin: 5px 15px 3px 15px;
  border: solid 0.5px #C3C3C3;
  border-radius: 8px;
  background-color: #fff;
}

.form-container input::-webkit-input-placeholder {
  color: #C3C3C3;
}

.form-container input:-ms-input-placeholder {
  color: #C3C3C3;
}

.form-container input::-ms-input-placeholder {
  color: #C3C3C3;
}

.form-container input::placeholder {
  color: #C3C3C3;
}

.form-container select::-webkit-input-placeholder {
  color: #C3C3C3;
}

.form-container select:-ms-input-placeholder {
  color: #C3C3C3;
}

.form-container select::-ms-input-placeholder {
  color: #C3C3C3;
}

.form-container select::placeholder {
  color: #C3C3C3;
}

.form-container textarea {
  padding: 8px;
  margin: 5px 15px 3px 15px;
  border-radius: 10px;
  border: solid 0.5px #C3C3C3;
  padding-left: 20px;
}

.form-container textarea::-webkit-input-placeholder {
  color: #C3C3C3;
}

.form-container textarea:-ms-input-placeholder {
  color: #C3C3C3;
}

.form-container textarea::-ms-input-placeholder {
  color: #C3C3C3;
}

.form-container textarea::placeholder {
  color: #C3C3C3;
}

.form-container .adding-choice {
  display: inline;
  margin-bottom: 20px;
}

.form-container .adding-choice span {
  font-size: 10px;
  font-family: Arial;
  color: #686767;
}

.form-container .adding-choice #index-input {
  border-radius: 0px;
  width: 43px;
  height: 2px;
  padding: 9px;
}

.form-container .save-btn {
  background-color: #2D89E6;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 15px;
  font-family: "Segoe UI";
  font-size: 15px;
  color: white;
}

.member-list-container {
  background-color: #F6F6F6;
  width: 70%;
  padding-bottom: 30px;
  overflow: scroll;
}

.member-list-container .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  height: 70px;
  padding-top: 30px;
  font-family: "Segoe UI";
}

.member-list-container .bar .filter-bar {
  background-color: #2D89E6;
  padding-left: 70px;
  padding-right: 90px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.member-list-container .bar .filter-bar li {
  display: inline-block;
  padding-top: 10px;
  margin-right: 10px;
  color: white;
}

.member-list-container .bar .filter-bar li input, .member-list-container .bar .filter-bar li select {
  border: solid 0.5px #C3C3C3;
  border-radius: 5px;
}

.member-list-container .bar .filter-bar li #sort-alphabit {
  width: 40px;
}

.member-list-container .bar .filter-bar li #sort-major {
  width: 70px;
}

.member-list-container .bar .filter-bar li #sort-role {
  width: 70px;
}

.member-list-container .bar .filter-bar li #search-name {
  width: 180px;
}

.member-list-container .bar .item-counter {
  background-color: #2D89E6;
  padding-left: 40px;
  padding-top: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #fff;
}

.info-popup {
  visibility: hidden;
  width: 70%;
  position: absolute;
  top: 20%;
  left: 20%;
  bottom: 20%;
  right: 20%;
  z-index: 100;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
}

.info-popup .form {
  margin: 40px;
  height: 100%;
}

.info-popup .form span {
  color: #2D89E6;
}

.info-popup .list {
  border: solid 0.5px #C3C3C3;
  border-radius: 5px;
  color: #2D89E6;
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 10px;
}

.info-popup .btns {
  position: absolute;
  bottom: 50px;
  font-family: "Segoe UI";
}

#del-btn {
  background-color: #FF4A4A;
  padding: 10px 30px 10px 30px;
  color: #fff;
}

#save-btn {
  background-color: #2D89E6;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px 40px 10px 40px;
  color: #fff;
}

#cancel-btn {
  background-color: #484848;
  padding: 10px 30px 10px 30px;
  color: #fff;
}

#member-name {
  text-align: center;
  font-family: "Segoe UI";
  font-size: 50px;
  font-weight: bold;
}

#member-info {
  text-align: center;
  margin-top: 20px;
  font-family: "Segoe UI";
}

#email-info {
  font-size: 10px;
  font-weight: bold;
}

#member-bio {
  text-align: center;
  word-break: break-all;
  margin-top: 20px;
  color: #6A6A6A;
  font-family: "Segoe UI";
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#items {
  margin-right: 20px;
}
/*# sourceMappingURL=index.css.map */