$light-gray: #C3C3C3;
$blue: #2D89E6;

* {
    margin: 0;
    border: 0;
    padding :0;
    box-sizing: border-box;
}

body,html {
    height: 100%;
}

body {
    overflow: hidden;
}

.header-container {
    width: 100%;
    height:70px;
    background-color: $blue;
    .header h1 {
        font-family: Segoe UI;
        font-size: 22px;
        color: #fff;
        display: flex;
        justify-content: center;
        padding-top: 15px;
    }
}

.main-content {
    display: flex;
    justify-content: space-evenly;
    height: 92%;
}

form {
     padding-top: 30px;
}

.form-container {
    display: flex;
    padding-top: 15px ;
    border: 1px solid  rgb(209, 209, 209);
    border-radius: 30px;
    flex-direction: column;
    padding-bottom: 0px;
    width: 120%;
    height: 70%;
    

    h1 {
        display: flex;
        justify-content: center;
        font-family: Segoe UI;
        font-size: 15px;
        color: #707070;
        padding-bottom: 15px;
    }
    
    input,select {
        padding: 15px ;
        margin: 5px 15px 3px 15px;
        border: solid 0.5px $light-gray;
        border-radius: 8px;
        background-color: #fff;
        
    }

    input::placeholder {
        color: $light-gray; 
    }
    
    textarea {
        padding: 8px ;
        margin: 5px 15px 3px 15px;
        border-radius: 10px;
        border: solid 0.5px $light-gray;
        padding-left: 20px;
    }

    textarea::placeholder {
        color: $light-gray; 
    }

    .adding-choice {
        display: inline;
        margin-bottom: 20px;
        
            span {
                font-size: 10px;
                font-family: Arial;
                color: #686767;
                
            }
            
            #index-input {
                border-radius: 0px;
                width: 43px;
                height: 2px;
                padding: 9px;
            }
    }

.save-btn {
    background-color:$blue;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 15px;
    font-family: Segoe UI;
    font-size: 15px;
    color: white;
    }

}
.member-list-container {
    background-color: #F6F6F6;
    width: 70%;
    padding-bottom: 30px; 
    overflow: scroll;

    .bar {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        height: 70px;
        padding-top: 30px;
        font-family: Segoe UI;
        
        .filter-bar {
            background-color: $blue;
            padding-left: 70px;
            padding-right: 90px;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
           
             li {
                display: inline-block;
                padding-top: 10px;
                //padding-right:5px;
                margin-right: 10px;
                color: white;
            
                input,select {
                    border: solid 0.5px $light-gray;
                    border-radius: 5px;
                    
                }
                 #sort-alphabit {
                    width: 40px;
                       
                }
                #sort-major {
                    width: 70px;
                   
                }
                #sort-role {
                    width: 70px;
                }
                #search-name {
                    width: 180px;
                }
                
                }
            }
           
        .item-counter {
            background-color: $blue;
<<<<<<< HEAD
            padding-left: 40px;
            padding-top : 10px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            //align-content: center;
=======
            padding-right: 90px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            align-content: center;
>>>>>>> 47eb49707fe4ff98c0e845f6c5fcc7f5b8c2079b
            color: #fff;
            
        }
       
    }
    
}
 .info-popup {

        visibility: hidden;
        width:50%;
        position:fixed;
        top:25%;
        left:25%;
        z-index:100;
        background-color:white;
        display: flex;
        justify-content: center;
        border-radius: 30px;

       .form {
            margin : 40px;
            .btns {
                padding-top : 150px;
                text-align: center;
            }
        }
    }
    #del-btn {
        background-color: #FF4A4A;
        padding: 10px 30px 10px 30px;
       
    }
    #save-btn {
        background-color: $blue;
        margin-right: 20px;
        margin-left: 20px;
        padding: 10px 30px 10px 30px;
       
    }
    #cancel-btn {
        background-color: #484848;
        padding: 10px 30px 10px 30px;
       
    }
    #member-name {
        text-align: center;
    }
    #member-info {
        margin-top: 20px;
        text-align: center;
        color: #2D89E6;
    }
    #member-bio {
        text-align: center;
        word-break: break-all;
        margin-top: 20px;
        color: #6A6A6A;
    }
    #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
<<<<<<< HEAD
    }
    #items {
        margin-right: 20px;
        
=======
>>>>>>> 47eb49707fe4ff98c0e845f6c5fcc7f5b8c2079b
    }